body{
    background:rgb(180, 180, 180);
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary{
    display:block
}

.jumbotron {
    height:100vh;
    background-image:url("Images/K2_Mount_Godwin_Austen_Chogori_Savage_Mountain1111.jpg");
    background-attachment:fixed;
    background-size:cover;
}

#center{
    text-align:center;
}

span {
    color: Silver;
}

.activate {
    border-bottom: 4px solid Green;
}

article {
    float: left;
}

article header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    border-bottom: 2px solid Silver;
}

.footer {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    border-top: 2px solid Silver;
}
#Total {
    width:auto;
    padding:0 0 0 0;
}
/*Transparent the Main top navigation bar*/
.transperent_nav{
    background-color:rgba(0, 0, 0, 0.00);
    border-color:rgba(0, 0, 0, 0.00);
}
.transperent_nav .nav ul li a {
    color:rgb(213, 213, 213);
}
/*=======================================*/
/*About us section*/
.Image_opc{
    opacity:0.4;
    filter:alpha(opacity=40);
    width: 250px;
    height: 250px;
}
.Image_opc:hover{
    opacity:1;
}
/*================*/