body{
    background:rgb(180, 180, 180);
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary{
    display:block
}

.jumbotron {
    height:100vh;
    background-image:url("http://goo.gl/LzlK6j");
    background-attachment:fixed;
}

#center{
    text-align:center;
}

span {
    color: Silver;
}

.footer {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    border-top: 2px solid Silver;
}